* {
  font-family: 'M PLUS Rounded 1c', Helvetica, Arial, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: initial;
}

.logo-section {
  background-image: url("images/moon.jpg");
  background-color: #194;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 35vw;
  display: flex;
  flex: initial;
  flex-direction: column;
  justify-content: space-between;
}

.logo-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(30, 30, 30, 0.4);
  height: 100px;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40vh;
}

.logo-icon {
  height: 70px;
  width: auto;
}

.logo-text {
  font-family: 'Poiret One', sans-serif;
  font-size: 30px;
  color: #ffffff;
}

.photo-credit-bar {
  background-color: rgba(30, 30, 30, 0.3);
}

.credit-text {
  color: #ffffff;
  text-align: center;
  padding: 3px;
  font-size: 12px;
}

.credit-text a {
  color: #ffffff;
  text-decoration: none;
}

.credit-text a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.form-header-text {
  font-size: 20px;
  font-weight: bold;
}

form .form-main {
  box-shadow: 2px 4px 5px 2px rgba(0,0,0,0.1);
  border: 1px rgba(0,0,0,0.1) solid;
  padding-top: 40px;
  padding-bottom: 40px;
}

h1.form-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
}

.form-heading em {
  font-family: 'Poiret One', sans-serif;
  font-style: normal;
}

button.create-account {
  background-color: rgb(237, 0, 142);
  color: #ffffff;
  font-size: 16px;
  
  border: none;
  border-radius: 8px;
  padding: 10px 40px;
  cursor: pointer;
}

button.create-account:hover {
  background-color: rgb(208, 0, 125);
}

button.create-account:active {
  background-color: rgb(237, 0, 142);
}

.form-section {
  flex-grow: 1;
}

.form-section .form-header, .form-main, .form-button, .form-login {
  padding-left: 40px;
  margin: 40px 0px;
}

a.login {
  text-decoration: none;
  color: rgb(237, 0, 142);
  font-weight: bold;
}

a.login:hover {
  text-decoration: underline;
  color: rgb(208, 0, 125);
}

a.login:active {
  text-decoration: none;
  color: rgb(237, 0, 142);
}

form input {
  background-color: #ffffff;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

form input[type="password"]:invalid,
form input[type="email"]:invalid,
form input[type="tel"]:invalid {
  border: 1px solid rgb(237, 0, 142);
  background-color: rgb(245, 204, 229);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  outline-style: none;
}

form input:required:placeholder-shown {
  background-color: #ffffff;
  border: 1px solid #D6D9DC;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus {
  border: 1px solid rgb(237, 0, 142);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  outline-style: none;
}

form label {
  color: rgba(60, 60, 60, 1);
  font-weight: bold;
  font-size: 12px;
}

.form-main-row {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: 20px;
}

.form-main-row div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

input + span {
  position: relative;
}

input + span::after {
  position: absolute;
  top: 0px;
}

input:invalid[type="email"] + span::after {
  content: "Please enter a valid email address.";
  color: rgb(237, 0, 142);
  font-size: 12px;
}

input:placeholder-shown[type="email"] + span::after {
  content: "";
}